<mat-sidenav-container class="sidenav-container" hasBackdrop="true">
  <mat-sidenav #sidenav mode="side" class="sidenav" (click)="sidenav.toggle()">
    <app-navigation [surveys]="surveyRef?.surveys"></app-navigation>
  </mat-sidenav>
  <app-toolbar
    class="app-toolbar"
    [title]="title"
    (toggleNavBar)="sidenav.toggle()"
    (restartSurvey)="surveyRef?.restart(false)"
    (saveSurvey)="surveyRef?.save(false)"
    [canRestartSurvey]="surveyRef?.isSubmitted"
    [canSubmitSurvey]="!(surveyRef?.hasCompleted$ | async) && !surveyRef?.isSubmitted"
  ></app-toolbar>
  <!-- <app-survey #survey></app-survey> -->
  <router-outlet (activate)="onActivated($event)"></router-outlet>
  <div #footer></div>
</mat-sidenav-container>
